@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply m-0 bg-neutral-99 antialiased font-body text-neutral-10;
   background-image: url('../public/bg-photo.png');
   background-repeat: no-repeat;
   background-position: 100% 0%;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
input {
   @apply block bg-inherit;
}

a {
   @apply font-semibold text-primary-main hover:text-primary-hover;
}
